*{
    padding: 0;
    margin: 0;
    width: 100%;
}
body{
    padding: 0;
    margin: 0;
    background-color: rgb(55, 137, 214);
}
header{
    background-color: navy;
}
#logo{
    width: 200px;
    height: 200px;
    float: left;
}
#menu{
    text-align: center;
    width: 100%;
    height: 200px;
}
#menu li a{
    color: #fff;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.imgcard